<!-- prettier-ignore-->
<%- include("header") %>
<h2 style="text-align: center;">About this Todo List!</h2>
<p style="font-weight: 600;">
  This is a public server-side Todo list that can be updated by anyone! Please
  restrain from using foul language on the list. If you want to see more
  projects that I made, be sure to go to my
  <a href="https://github.com/theAnshulGupta">Github</a> or my
  <a href="https://codepen.io/theAnshulGupta">Codepen</a>. I hope someone
  actually ends up reading this!
</p>
<!-- prettier-ignore-->
<%- include("footer") %>
