<!-- prettier-ignore-->
<%- include("header") %>
<h2 style="text-align: center;">About page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus,
  debitis. Aspernatur neque sint porro harum eum ut odit! Hic at quasi animi
  provident qui eum recusandae illo sapiente, commodi nam!
</p>
<!-- prettier-ignore-->
<%- include("footer") %>
