html {
  background-color: #e4e9fd;
  background: #67b26f;
  background: -webkit-linear-gradient(to right, #67b26f, #4ca2cd);
  background: linear-gradient(to right, #67b26f, #4ca2cd);

  min-height: 1000px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #11998e, #38ef7d);
  background: linear-gradient(to right, #11998e, #38ef7d);
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  /** all the paragraph after checked inputs */
  text-decoration: line-through;
  text-decoration-color: #38ef7d;
}

input[type="checkbox"] {
  margin: 20px;
  width: 20px;
  height: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  background: #a8ff78;
  background: -webkit-linear-gradient(to right, #a8ff78, #78ffd6);
  background: linear-gradient(to right, #a8ff78, #78ffd6);
  border-color: transparent;
  color: #fff;
  margin: 0;
  margin-left: 10px;
  padding: 20px;
  font-size: 30px;
  border: 0;
  border: none;
  outline: none;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a8ff78;
}

::placeholder {
  /** selects all placeholders */
  color: grey;
  opacity: 1;
  font-family: "Open Sans", sans-serif;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
